#options1
{	
	float:left;
    width: 300px;
	/*position:relative;	
	top: 15px;
	left: 150px;*/
	display:inline;
}
#options2
{
	float: left;
	width: 300px;
	/*position:relative;
	left: -100x;*/
	display:inline;
}
#options3
{
	float:left;
	width: 300px;
	/*position:relative;
	left: -100x;*/
	display:inline;
}
#options4
{
	width: 300px;
	/*position:relative;
	left: -100x;*/
	display:inline;
}
