<html>

<head>
   <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/test_colonne.css" /> 
    <title>Alphasat Database</title>
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui/jquery-ui.js"></script>
<script>
$(function() {
$( "#accordion" ).accordion();
});
</script>
</head>
<body>
<img src="/static/Logo_mnhn.jpg" alt="MNHN" /> Muséum national d'Histoire naturelle
<div role="main" class="news-body">
  <h1>Alphasat Database</h1> 
    
<h3>FILTERS</h3>
<div id="accordion">
   
<h3>Region</h3>

        <div>
                <form action="/taxons/chromosomes/monomers" method="POST">
            <SELECT NAME="Chromosomes" MULTIPLE SIZE = 10 STYLE="width:500" >
                        {% for i in c %}
                    <OPTION > {{i}} </OPTION>
                        {% endfor %}
            </SELECT>
    <INPUT TYPE=CHECKBOX NAME="chromosomes">ALL<BR>
    <input type="submit" value="Submit" name="envoyer" />  
                </form>
                
                
        <form action="/taxons/chromosomes/monomers" method="POST">
        <SELECT NAME="Blocks" MULTIPLE SIZE = 10 STYLE="width:300" >
                    {%for i in b %}
                  <OPTION > {{i}} </OPTION>
                    {% endfor %}  
             </SELECT>
    <INPUT TYPE=CHECKBOX NAME="blocks">ALL<BR>
    <input type="submit" value="Submit" name="envoyer" />  
                </form>
    <p>
       <label for="begin pair">Base pair begin :</label>
       <input type="int" name="base pair begin" id="begin pair" />
       
       <br />
       <label for="end pair">Base pair end :</label>
       <input type="int" name="base pair end" id="end pair" />
       
       <br />
       <label for="distance from centromer">Distance from centromer:</label>
       <input type="int" name="distance from centromer" id="distance from centromer" />
       
        <form action="/taxons/chromosomes/cytobands" method="POST">
        <SELECT NAME="cytobands" MULTIPLE SIZE = 10 STYLE="width:300" >
                    {%for i in cy %}
                  <OPTION > {{i}} </OPTION>
                    {% endfor %}  
             </SELECT>
    <INPUT TYPE=CHECKBOX NAME="cytobands">ALL<BR>
    <input type="submit" value="Submit" name="envoyer" />  
                </form>
    </p>
</form>
                
        </div>
              
<h3>Monomers</h3>
        <div>
            <p>
            </p>
        </div>
    <h3>Family</h3>
    <div>
            <p>
             <form action="/taxons/chromosomes/Family" method="POST">
        <SELECT NAME="Family" MULTIPLE SIZE = 10 STYLE="width:300" >
                    {%for i in f %}
                  <OPTION > {{i}} </OPTION>
                    {% endfor %}  
             </SELECT>
    <INPUT TYPE=CHECKBOX NAME="family">ALL<BR>
    <input type="submit" value="Submit" name="envoyer" />  
                </form>
            </p>
            
    </div>
        <h3>HOR</h3>
        <div>
        <p>
            blabla
        </p>
        <p>
                plop plop
        </p>
        </div>
</div>
</div>
</body>

</html>
