<html>
<head>
   <meta charset="utf-8" /> 
   <link rel="stylesheet" href="/static/css/test_colonne.css" />
    <title>Alphasat Database {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_website.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/bootstrap/tree.css">
	<link rel="stylesheet" type="text/css" href="/static/js/jquery_easyui/themes/icon.css">
	<script type="text/javascript" src="/static/js/jquery_easyui/jquery.min.js"></script>
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>-->
	<script type="text/javascript" src="/static/js/jquery_easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery_easyui/extensions/datagrid-filter.js"></script>
	<!-- Block à voir pour conserver les lignes -->
	<!--<script src="/static/js/jquery/jquery.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>-->
	<script type="text/javascript">
		//function(){
		//	$('.btn').button();
		//});
	</script>
<!--
	<link rel="stylesheet" href="/static/js/jquery_easyui/themes/bootstrap/bootstrap.min.css" />
-->
	<!-- Fin du block -->
    {% block head %}{% endblock %}
</head>
<body>
<div role="main" class="container">
    <div class="header" style="border-bottom: 1px solid #e5e5e5;">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/list/Taxon">New search</a></li>
            <li class="active"><a href="/alphasat/help_and_documentation">Help and documentation</a></li>
            <li class="active"><a href="/alphasat/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">
            <a  href="http://www.mnhn.fr/fr" >
            <img src="/static/pictures/Logo_mnhn.jpg" alt="MNHN" />
            </a>
            <a href="/alphasat/accueil"> Muséum national d'Histoire naturelle - Alphasat Database </a>
        </h3> 
    </div>

    {% block content %}{% endblock %}
</div>
</body>
</html>
