{% extends "base.html" %}

{% block title %}Taxon selection{% endblock %}

{% block head %}
	<script type="text/javascript">
    var _chromosome_selection = [];
    var _sequence_selection = [];
    var _block_selection = [];
    var _monomer_selection = [];
    var _monomer_list = [];
    var _search_data = {};
    //~ var _block_length = '{{ block_length }}';
    //~ console.log(_block_length);
    //~ var _phase = '{{ phase }}';
    //~ console.log(_phase);
    //~ var _monomer_length = '{{ monomer_length }}';
    //~ console.log(_monomer_length);
    //~ var _monomer_position = '{{ monomer_position}}';
    //~ console.log(_monomer_position);
    //$(handle_buttons);
       
	function updateChromosomeAndTaxonSelection(taxon_tree){
				_chromosome_selection = $(taxon_tree).tree('getChecked');
				console.log(_chromosome_selection);
				var url_list = [];
				for(i in _chromosome_selection){
						sid = _chromosome_selection[i]['id'];
						spl = sid.split('_');
						//recuperer la derniere table de la selection
						t = spl[0];
						url_list.push(sid);
				}
				refreshSequence(url_list);
			}
	function updateSequenceSelection(sequence_dgs){
				 _sequence_selection = $(sequence_dgs).datagrid('getChecked');
				console.log(_sequence_selection);
				var url_list = [];
				for(i in _sequence_selection){
						sid = _sequence_selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				refreshBlock(url_list);
			}
	function updateBlockSelection(block_dgb){
				_block_selection = $(block_dgb).datagrid('getChecked');
				console.log(_block_selection);
				var url_list = [];
				for(i in _block_selection){
						sid = _block_selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				refreshFamily(url_list);
				refreshMonomer(url_list);
			}
	function refreshSequence(url_list){
 				var dgs = $('#dgs').datagrid('load',{
					selection : url_list,
					search : _search_data
				});
				//refreshBlock();
			}
	function refreshBlock(url_list){
				var dgb = $('#dgb').datagrid('load',{
					selection : url_list,
					search : _search_data
				});
				//refreshFamily();
				//refreshMonomer();
			}
	function refreshFamily(url_list){
				var dgf = $('#dgf').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection : url_list,
					search : _search_data
				});
			}
	function refreshMonomer(url_list){
				var dgm = $('#dgm').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection: url_list,
					search: _search_data
				});
			}
			
			
			
	function refreshAll(){
		console.log(_search_data);
		 $('#dgs').datagrid({
			onCheck:function(){updateSequenceSelection(this);}
		});
		$('#dgs').datagrid({
			onUncheck:function(){updateSequenceSelection(this);}
		});
		$('#dgs').datagrid({
			onCheckAll:function(){updateSequenceSelection(this);}
		});	
		$('#dgs').datagrid({
			onUncheckAll:function(){updateSequenceSelection(this);}
		});
		$('#dgs').datagrid({
			onLoadSuccess:function(block_node){
				var url_list = [];
				all_id = null;
				url_list.push(all_id);
				$('#dgb').datagrid('loadData',[]);
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list,
					search: _search_data
				});
			}
		});
		$('#dgb').datagrid({
			onCheck:function(){updateBlockSelection(this);}
		});
		$('#dgb').datagrid({
			onUncheck:function(){updateBlockSelection(this);}
		});
		$('#dgb').datagrid({
			onCheckAll:function(){updateBlockSelection(this);}
		});		
		$('#dgb').datagrid({
			onUncheckAll:function(){updateBlockSelection(this);}
		});
		$('#dgb').datagrid({
			onLoadSuccess:function(block_node){
				var url_list = [];
				all_id = null;
				url_list.push(all_id);
				$('#dgm').datagrid('loadData',[]);
				$('#dgf').datagrid('loadData',[]);			
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});					
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list,
					search: _search_data
				});			
			}
		});
	}			
    </script>

{% endblock %}

{% block content %}
<!--
    <form name = "taxons" action="/results" method="POST" id = "taxons_data">
-->
		<div style="margin:20px 0;"></div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
			<div id="el" class="easyui-layout" style="width:1200px;height:900px;">
<!--
				<ul id="ft" name="family" class="easyui-tree" data-options="url:'/family_tree',cascadeCheck:true" checkbox="true" method="get">
				</ul>
-->
				<div data-options="region:'south',title:'Results',split:true" style="height:200px;">
					<div class="easyui-panel" title="File parameters" style="width:1200px;padding:10px;"><!-- data-options="href:'/results'">-->
						<script type="text/javascript">
							function handle_options() {	
								$('#seq_options').hide();
								$('#csv_options').hide();
								$('#name_options').hide();											
								$('#format_csv').change(function(){								
									if($('#format_csv:checked'))
									{
										$('#seq_options').hide();
										$('#csv_options').show();
									}
								});
								$('#format_fasta').change(function(){
									if($('#format_fasta:checked'))
									{
										$('#seq_options').show();
										$('#csv_options').hide();
									}
								});
								$('#database_name').change(function(){
									if($('#database_name:checked'))
									{
										$('#name_options').hide();
									}
								});
								$('#custom_name').change(function(){
									if($('#custom_name:checked'))
									{
										$('#name_options').show();
									}
								});
							}
							$(handle_options);
						</script>
						<script>
							function Send(){
								if(document.result.format[3].checked == true){
									document.result.action="/caryotype";
									document.result.target="_blank";
									//~ document.chromosomes.submit();
								}
								if(document.result.format[0].checked == true){
									document.result.action="/results/files";
									//~ document.chromosomes.submit();
								}
								if(document.result.format[1].checked == true){
									document.result.action="/results/files";
									//~ document.chromosomes.submit();
								}
								if(document.result.format[2].checked == true){
									document.result.action="/results/files";
									//~ document.chromosomes.submit();
								}
								//~ document.chromosomes.method='post';
								//~ document.chromosomes.target='_self';
								//~ document.chromosomes.action="/taxons/chromosomes";
								//~ document.chromosomes.class='form-horizontal';
								
								document.result.onsubmit="return Send();";
							}
						</script>    
						<form name="result" onsubmit="return Send();" method="POST" class="form-horizontal">
							<div class="panel panel-primary" id="options1">
								<div class="panel-heading">
									<div class="panel-title">Format Name</div>
								</div>
								<div>
									<div class="form-group">
										<!--<input type="radio" name="name_format" value="database_name" id="database_name" checked="checked"/> <label for="database_name">database name</label><br />
										<input type="radio" name="name_format" value="simple_numbering" id="simple_numbering" /> <label for="simple_numbering">simple numbering</label><br />           
										<input type="radio" name="name_format" value="chr_begin_end_strand" id="chr_begin_end_strand" /> <label for="chr_begin_end_strand">chr_begin_end_strand</label><br />-->
										<input type="radio" name="name_option" value="database_name" id="database_name" checked="checked"/> <label for="database_name">database name</label><br />
										<input type="radio" name="name_option" value="custom_name" id="custom_name" /> <label for="custom_name">custom name</label><br />
									</div><!-- end form -->
									<div id="name_options">
										<input type="checkbox" name="name_format" value="block_name" id="block_name" checked="checked"/> <label for="block_name">block name</label><br />
										<input type="checkbox" name="name_format" value="monomer_id" id="monomer_id" /> <label for="monomer_id">monomer id</label><br />
										<input type="checkbox" name="name_format" value="begin" id="begin" checked="checked"/> <label for="begin">begin</label><br />
										<input type="checkbox" name="name_format" value="end" id="end" checked="checked"/> <label for="end">end</label><br />
										<input type="checkbox" name="name_format" value="strand" id="strand" /> <label for="strand">strand</label><br />
										<input type="checkbox" name="name_format" value="monomer_length" id="monomer_length" /> <label for="monomer_length">monomer length</label><br />
									</div><!-- end option -->
								</div><!-- end panel -->								
							</div><!-- end panel-body -->
							<div class="panel panel-primary" id="options2">
								<div class="panel-heading">
									<div class="panel-title">Name separator</div>
								</div><!-- end panel-heading -->
								<div>
									<div class="form-group">
										<input type="radio" name="separator_format" value="_" id="underscore" checked="checked"/> <label for="underscore">underscore</label><br />
										<input type="radio" name="separator_format" value="." id="dot" /> <label for="dot">dot</label><br />
										<input type="radio" name="separator_format" value="-" id="dash" /> <label for="dash">dash</label><br />
										<input type="radio" name="separator_format" value=":" id="colon" /> <label for="colon">colon</label><br />
									</div><!-- end form -->
								</div><!-- end panel-body -->
							</div><!-- end panel -->		
							<div class="panel panel-primary" id="options3">
								<div class="panel-heading">
									<div class="panel-title">Output Format</div>
								</div><!-- end panel-heading -->
								<div>
									<!--<div class="btn-group" data-toggle="buttons">-->
										<!--<label class="btn btn-primary">-->
									<div class="form-group">
										<input type="radio" name="format" value="format_csv" id="format_csv" checked="checked">CSV
									<!--</label>-->
									<!--<label class="btn btn-primary">-->
										<input type="radio" name="format" value="format_fasta" id="format_fasta">Sequence
										<input type="radio" name="format" value="format_svg" id="format_svg">Caryotype
										<input type="radio" name="format" value="format_svg" id="affichage_svg">Caryotype View
									<!--</label>-->
									</div><!-- end form -->
									<!--</div>--><!-- end button -->
									<!--<input type="radio" name="output" value="features" id="features" /> <label for="features">Features</label><br />-->
									<div id="csv_options">
										<input type="radio" name="csv" value="tab" id="tab"  /> <label for="tab">tab</label><br />
										<input type="radio" name="csv" value="space" id="space" /> <label for="space">space</label><br />
										<input type="radio" name="csv" value="comma" id="comma" checked="checked" /> <label for="comma">comma</label><br />
									</div><!-- end option -->
									<div id="seq_options">
									   <input type="radio" name="output" value="fasta" id=".fasta" checked="checked" /> <label for="fasta">.fasta</label><br />
									   <input type="radio" name="output" value="fasta.gzip" id=".fasta.gzip"/> <label for="fasta">.fasta.gzip</label><br />
									</div><!-- end option -->
								</div><!-- end panel-body -->
							</div><!-- end panel -->
<!--
						<input type="hidden" name="list_encode" value= "{{list_encode}}" />
						<input type="hidden" name="retrieve_type" value= "{{retrieve_type}}" />
-->
						<input type="hidden" id="monomer_phase" name="monomer_phase" value= "" />

						<div class="panel panel-primary" id="options4">
							<input type="submit" value="Submit" name="submit" />
						</div>
						</form>
					</div>				
				</div>
				<div data-options="region:'east',title:'Options',split:true" style="width:300px;">
					<div class="easyui-panel" title="Parameters" style="width:300px;padding:10px;" data-options="href:'/search_form'">
					</div>
				</div>
				<div data-options="region:'west',title:'Taxons tree',split:true" style="width:300px;">
					<div class="demo-info" style="margin-bottom:10px">
						<ul id="tt" name="taxons" class="easyui-tree" data-options="url:'/tree',cascadeCheck:true" checkbox="true" method="get">
						</ul>
					</div>
				</div>
				<div data-options="region:'center',title:'Selection',split:true" style="padding:5px;background:#eee;">
					<div class="demo-info" style="margin-bottom:10px"></div>
					<div class="easyui-panel" style="padding:5px"><!-- cadre -->
						<table id="dgs" class="easyui-datagrid" title="Sequences" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_sequences" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "sequence_id" multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx1',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:80,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence</th>						
									<th data-options="field:'sequence_length',width:80,align:'center',sortable:true">length</th>
									<th data-options="field:'number_blocks',width:80,align:'center',sortable:true">Blocks</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgs = $('#dgs').datagrid();
							dgs.datagrid('enableFilter', [{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'taxon_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
						<table id="dgb" class="easyui-datagrid" title="Blocks" style="width:auto;height:auto" singleSelect=false collapsible=true url="/datagrid_blocks" method="get" rownumbers=true pagination=true pageSize=10 autoRowHeight=false idField="block_id" remoteSort="false" multiSort = "true"  sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx2',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:100,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:100,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence</th>
									<th data-options="field:'block_name',width:100,align:'center',sortable:true">Block</th>
									<th data-options="field:'block_length',width:80,align:'center',sortable:true">length</th>
									<th data-options="field:'block_strand',width:80,align:'center',sortable:'true'">strand</th>
									<th data-options="field:'block_begin',width:80,align:'center',sortable:true">begin</th>
									<th data-options="field:'block_end',width:80,align:'center',sortable:true">end</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers</th>									
									
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgb = $('#dgb').datagrid();
							dgb.datagrid('enableFilter', [{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
						<table id="dgf" class="easyui-datagrid" title="Monomers families" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url="/datagrid_families" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "family_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx3',checkbox:true"></th>
									<th data-options="field:'family_id',width:80,align:'center',sortable:true">Family id</th>
									<th data-options="field:'family_name',width:100,align:'center',sortable:true">Family Name</th>
									<th data-options="field:'sequence_id',width:80,align:'center',sortable:true">Sequence id</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgf = $('#dgf').datagrid();
							dgf.datagrid('enableFilter', [{
								field:'family_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>					
						
					</div>
					<table id="dgm" class="easyui-datagrid" title="Monomers" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_monomers" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "monomer_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx4',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:30,align:'center',sortable:true">Taxon</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome</th>
									<th data-options="field:'sequence_name',width:80,align:'center',sortable:true">Sequence</th>
									<th data-options="field:'block_name',width:50,align:'center',sortable:true">Block</th>
									<th data-options="field:'monomer_name',width:80,align:'center',sortable:true">Monomer</th>
									<th data-options="field:'monomer_length',width:50,align:'center',sortable:true">length</th>
									<th data-options="field:'monomer_strand',width:80,align:'center',sortable:true">strand</th>
									<th data-options="field:'monomer_begin_sequence',width:80,align:'center',sortable:true">begin</th>
									<th data-options="field:'monomer_end_sequence',width:80,align:'center',sortable:true">end</th>													
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgm = $('#dgm').datagrid();
							dgm.datagrid('enableFilter', [{
								field:'monomer_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_length',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>						
				</div>
			</div>		
		</div>		
		<script> 
		$('#tt').tree({
			onCheck:function(){updateChromosomeAndTaxonSelection(this);}			
		});	
		refreshAll()
		</script>
<!--
	</form>
-->
{% endblock %}
