{% extends "base.html" %}

{% block title %}Taxon selection{% endblock %}

{% block head %}
	<script type="text/javascript">
		var chrSelection = undefined;
		var familySelection = undefined;
		var sequenceSelection = undefined;
		var blockSelection = undefined;
		var block_length = undefined;

		//~ console.log('Hello!');
		//~ var y = 2;
		//~ console.log(y);
    function handle_buttons() {
        $('#taxons_select_all').click(function() {
            $('#Taxons option').prop('selected', true);
            return false;
        });
    }
    var _chromosome_selection = [];
    var _sequence_selection = [];
    var _block_selection = [];
    var _search_data = {};
    $(handle_buttons);
    </script>
{% endblock %}

{% block content %}
    <form name = "taxons" action="/results" method="POST" id = "taxons_data">
		<div style="margin:20px 0;"></div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
			<div id="el" class="easyui-layout" style="width:1200px;height:900px;">
				<div data-options="region:'north',title:'North Title',split:true,collapsed:false" style="height:100px;"></div>
<!--
				<ul id="ft" name="family" class="easyui-tree" data-options="url:'/family_tree',cascadeCheck:true" checkbox="true" method="get">
				</ul>
-->
				<div data-options="region:'south',title:'South Title',split:true" style="height:200px;">
					<table id="dgm" class="easyui-datagrid" title="Monomer results" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_monomers" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "monomer_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx4',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:80,align:'center',sortable:true">Taxon name</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome name</th>
									<th data-options="field:'sequence_name',width:80,align:'center',sortable:true">Sequence name</th>
									<th data-options="field:'block_name',width:80,align:'center',sortable:true">Block name</th>
									<th data-options="field:'monomer_name',width:100,align:'center',sortable:true">Monomer Name</th>
									<th data-options="field:'monomer_length',width:80,align:'center',sortable:true">Monomer length</th>
									<th data-options="field:'monomer_strand',width:80,align:'center',sortable:true">Monomer strand</th>
									<th data-options="field:'monomer_begin_sequence',width:80,align:'center',sortable:true">Monomer begin</th>
									<th data-options="field:'monomer_end_sequence',width:80,align:'center',sortable:true">Monomer end</th>													
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgm = $('#dgm').datagrid();
							dgm.datagrid('enableFilter', [{
								field:'monomer_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_length',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'monomer_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>										
<!--
					<div class="form-group">
						<label for="phase" class="col-sm-2 control-label">Phase</label>
						<input type="int" name="phase" id="phase" />
					</div>
				   
					<div class="form-group">
						<label for="base_pair_begin" class="col-sm-2 control-label">Base pair begin</label>
						<input type="int" name="base_pair_begin" id="base_pair_begin" />
					</div>
			   
					<div class="form-group">
						<label for="base_pair_end" class="col-sm-2 control-label">Base pair end</label>
						<input type="int" name="base_pair_end" id="base_pair_end" />
					</div>
					<div class="form-group">
						<label for="monomer_length" class="col-sm-2 control-label">Monomer length</label>
						<input type="int" name="monomer_length" id="ml" />
						eg, 171 or 170:173
					</div>
-->
				</div>
				<div data-options="region:'east',title:'East',split:true" style="width:300px;">
				<div class="easyui-panel" title="Ajax Form" style="width:300px;padding:10px;" data-options="href:'/search_form'">
				</div>
				</div>
				<div data-options="region:'west',title:'Tree',split:true" style="width:300px;">
					<div class="demo-info" style="margin-bottom:10px">
						<ul id="tt" name="taxons" class="easyui-tree" data-options="url:'/tree',cascadeCheck:true" checkbox="true" method="get">
						</ul>
					</div>
				</div>
				<div data-options="region:'center',title:'Selection',split:true" style="padding:5px;background:#eee;">
					<div class="demo-info" style="margin-bottom:10px"></div>
					<div class="easyui-panel" style="padding:5px"><!-- cadre -->
						<table id="dgs" class="easyui-datagrid" title="Sequences" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url = "/datagrid_sequences" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "sequence_id" multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx1',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:80,align:'center',sortable:true">Taxon name</th>
									<th data-options="field:'chromosome_name',width:80,align:'center',sortable:true">Chromosome name</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence Name</th>						
									<th data-options="field:'sequence_length',width:80,align:'center',sortable:true">Sequence length</th>
									<th data-options="field:'number_blocks',width:80,align:'center',sortable:true">Blocks number</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers number</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgs = $('#dgs').datagrid();
							dgs.datagrid('enableFilter', [{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'taxon_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
<!--
						<div class="form-group">
							<label for="block_length" class="col-sm-2 control-label">Block length</label>
-->
							<!--<input type="text" name="block_length" id="block_length" />-->
<!--
							<input class="easyui-textbox" name="block_length" id="bl" data-options="prompt:''" style="width:100%;height:32px">
							eg, 171 or 170:173
						</div>			
-->
						<table id="dgb" class="easyui-datagrid" title="Blocks" style="width:auto;height:auto" singleSelect=false collapsible=true url="/datagrid_blocks" method="get" rownumbers=true pagination=true pageSize=10 autoRowHeight=false idField="block_id" remoteSort="false" multiSort = "true"  sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx2',checkbox:true"></th>
									<th data-options="field:'taxon_name',width:100,align:'center',sortable:true">Taxon name</th>
									<th data-options="field:'chromosome_name',width:100,align:'center',sortable:true">Chromosome name</th>
									<th data-options="field:'sequence_name',width:100,align:'center',sortable:true">Sequence name</th>
									<th data-options="field:'block_name',width:100,align:'center',sortable:true">Block name</th>
									<th data-options="field:'block_length',width:80,align:'center',sortable:true">Block length</th>
									<th data-options="field:'block_begin',width:80,align:'center',sortable:true">Block begin</th>
									<th data-options="field:'block_end',width:80,align:'center',sortable:true">Block end</th>
									<th data-options="field:'block_strand',width:80,align:'center',sortable:'true'">Block strand</th>
									<th data-options="field:'number_monomers',width:80,align:'center',sortable:true">Monomers number</th>									
									
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgb = $('#dgb').datagrid();
							dgb.datagrid('enableFilter', [{
								field:'block_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_begin',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'block_end',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>
						<table id="dgf" class="easyui-datagrid" title="Monomers families" style="width:auto;height:auto" singleSelect = "false" collapsible = "true" url="/datagrid_families" method = "get" rownumbers = "true" pagination = "true" pageSize = "10" autoRowHeight = "false" idField = "family_id"  multiSort = "true" remoteSort = "false" sortOrder = "desc">
							<thead>
								<tr>
									<th data-options="field:'cbx3',checkbox:true"></th>
									<th data-options="field:'family_id',width:80,align:'center',sortable:true">Family id</th>
									<th data-options="field:'family_name',width:100,align:'center',sortable:true">Family Name</th>
									<th data-options="field:'sequence_id',width:80,align:'center',sortable:true">Sequence id</th>
								</tr>
							</thead>
						</table>
						<script>
						$(function(){
							var dgf = $('#dgf').datagrid();
							dgf.datagrid('enableFilter', [{
								field:'family_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								},{
								field:'sequence_id',
								type:'numberbox',
								options:{precision:1},
								op:['equal','notequal','less','greater']
								}]);
							});
						</script>					
						
					</div>
				</div>
			</div>		
		</div>
		<script>
			//var p = $('#el').layout('panel','west');  // get the west panel
			//$('#el').layout('panel','center').panel('resize',{width:100,height:300});  // change the width of west panel
			//$('#el').layout('resize');
		</script>
		<script> //$('#cc').layout('collapse', {
			//region:'north'
			//});
		</script>		
		<script> $('#tt').tree({
			onCheck:function(sequence_node){
				var taxon_tree = this;
				_chromosome_selection = $(taxon_tree).tree('getChecked');
				console.log(_chromosome_selection);
				var url_list = [];
				for(i in _chromosome_selection){
						sid = _chromosome_selection[i]['id'];
						spl = sid.split('_');
						//recuperer la derniere table de la selection
						t = spl[0];
						//if (t == 'chromosome'){
						url_list.push(sid);
						//}	
				}
				//var url_data = "/datagrid_sequences?selection="+JSON.stringify(url_list);
				//console.log(url_data);
				var dgs = $('#dgs').datagrid('load',{
					selection: url_list
				});

				//~ dgs.datagrid('enableFilter', [{
								//~ field:'sequence_id',
								//~ type:'numberbox',
								//~ options:{precision:1},
								//~ op:['equal','notequal','less','greater']
								//~ },{
								//~ field:'taxon_id',
								//~ type:'numberbox',
								//~ options:{precision:1},
								//~ op:['equal','notequal','less','greater']
								//~ }]);
				//console.log(url);
			}
			
		});
		</script>		
		
		<script> $('#dgs').datagrid({
			onCheck:function(block_node){
				var sequence_dgb = this;
				 _sequence_selection = $(sequence_dgb).datagrid('getChecked');
				console.log(_sequence_selection);
				var url_list = [];
				for(i in _sequence_selection){
						sid = _sequence_selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		$('#dgs').datagrid({
			onUncheck:function(block_node){
				var sequence_dgb = this;
				_sequence_selection = $(sequence_dgb).datagrid('getChecked');
				console.log(selection);
				var url_list = [];
				for(i in _sequence_selection){
						sid = _sequence_selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});

		$('#dgs').datagrid({
			onCheckAll:function(block_node){
				var sequence_dgb = this;
				var test = $(sequence_dgb).datagrid('getRows');
				console.log(test);
				var selection = $(sequence_dgb).datagrid('getData');
				console.log(selection['rows']);
				var url_list = [];
				var selectionAll = selection['rows'];
				for(i in selectionAll){
						sid = selectionAll[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		
		$('#dgs').datagrid({
			onUncheckAll:function(block_node){
				var sequence_dgb = this;
				var selection = $(sequence_dgb).datagrid('getChecked');
				console.log(selection);
				var url_list = [];
				for(i in selection){
						sid = selection[i]['sequence_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});		
		</script>
		
		<script> $('#dgb').datagrid({
			onCheck:function(family_node){
				var sequence_dgf = this;
				var _block_selection = $(sequence_dgf).datagrid('getChecked');
				console.log(_block_selection);
				var url_list = [];
				for(i in _block_selection){
						sid = _block_selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					//attention rien a voir avec la variable selection
					selection: url_list
				});
				//~ var url_data = "/family_tree?id="+JSON.stringify(url_list[0]);
				//~ console.log(url_data);
				//~ $('#ft').tree({
					//~ url:url_data
				//~ });
				//~ test = {'id':'toto','text':'blalbla','state':'open'}
				//~ $('#ft').tree('loadData',[test]);
			}
		});
		$('#dgb').datagrid({
			onUncheck:function(family_node){
				var sequence_dgf = this;
				var _block_selection = $(sequence_dgf).datagrid('getChecked');
				console.log(selection);
				var url_list = [];
				for(i in _block_selection){
						sid = _block_selection1[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
				var ft = $('#ft').tree('loadData',{
					selection: url_list
				});
			}
		});

		$('#dgb').datagrid({
			onCheckAll:function(family_node){
				var sequence_dgf = this;
				var selection = $(sequence_dgf).datagrid('getData');
				var selectionAll = selection['rows'];
				console.log(selection);
				var url_list = [];
				for(i in selectionAll){
						sid = selectionAll[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
			}
		});
		
		$('#dgb').datagrid({
			onUncheckAll:function(family_node){
				var sequence_dgf = this;
				var selection = $(sequence_dgf).datagrid('getChecked');
				console.log(selection);
				var url_list = [];
				for(i in selection){
						sid = selection[i]['block_id'];
						console.log(sid)
						url_list.push(sid);
				}
				var dgf = $('#dgf').datagrid('load',{
					selection: url_list
				});
				var dgm = $('#dgm').datagrid('load',{
					selection: url_list
				});
			}
		});

		$('#bl').textbox({
			onChange:function(parameter){
				var tb_change = this;
				var value_param = $(tb_change).textbox('getValue');
				console.log(tb_change);
				console.log(value_param);
				var dgb = $('#dgb').datagrid('load',{
					selection: url_list
				});
			}
		});
		//~ $('#dgb').datagrid({
			//~ onCheck:function(monomer_node){
				//~ var sequence_dgm = this;
				//~ var selection = $(sequence_dgm).datagrid('getChecked');
				//~ console.log(selection);
				//~ var url_list = [];
				//~ for(i in selection){
						//~ sid = selection[i]['block_id'];
						//~ console.log(sid)
						//~ url_list.push(sid);
				//~ }
				//~ var dgm = $('#dgm').datagrid('load',{
					//~ selection: url_list
				//~ });
			//~ console.log('coucou3');
			//~ }
		//~ });
		//~ $('#dgb').datagrid({
			//~ onUncheck:function(monomer_node){
				//~ var sequence_dgm = this;
				//~ var selection = $(sequence_dgm).datagrid('getChecked');
				//~ console.log(selection);
				//~ var url_list = [];
				//~ for(i in selection){
						//~ sid = selection[i]['block_id'];
						//~ console.log(sid)
						//~ url_list.push(sid);
				//~ }
				//~ var dgm = $('#dgm').datagrid('load',{
					//~ selection: url_list
				//~ });
			//~ }
		//~ });
		//~ $('#dgb').datagrid({
//~ 
			//~ }
		//~ });
		//~ $('#dgb').datagrid({
//~ 
			//~ }
		//~ });
		//~ $('#dgb').datagrid({
//~ 
			//~ }
		//~ });
		</script>		
		<!--<script> $('#tt').tree({
			//~ onCheck:function(node){
				//~ var taxon_tree = this;
				//~ var selection = $(taxon_tree).tree('getChecked');
				//~ var url_list = [];
				//~ for(i in selection){
						//~ sid = selection[i]['id'];
						//~ spl = sid.split('_');
						//~ //recuperer la derniere table de la selection
						//~ t = spl[0];
						//~ if (t == 'sequence'){
						//~ url_list.push(sid);
						//~ }	
				//~ }
				//~ var url_data = "/datagrid_blocks?table="+JSON.stringify(t)+"?selection="+JSON.stringify(url_list);
				//~ console.log(url_data);
				//~ $('#dgb').datagrid({
					//~ url:url_data
				//~ });
				//~ //$('#dg').datagrid('reload');
				//~ //console.log(url);
			//~ }
			//~ 
			//~ });
		//~ </script>
	<!--<script language="JavaScript" type="text/JavaScript">document.forms["taxons"].submit()</SCRIPT><!--getElementById("formid")<!--'taxons_data') --><!--document.forms["taxons"].submit();-->
		<!--<ul id="block_tree" name="blocks" class="easyui-tree" data-options="url:'/blocks'" checkbox="true" method="get">
		</ul>-->
	</form>
{% endblock %}
