{% extends "base.html" %}
{% block title %}Taxon selection{% endblock %}
{% block head %}
    <script type="text/javascript">
    function handle_options() {
        $('#seq_options').hide();
        $('#csv_options').hide();
        
        $('#format_csv').change(function(){
            if($('#format_csv:checked'))
            {
                $('#seq_options').hide();
                $('#csv_options').show();
            }
        });
        $('#format_fasta').change(function(){
            if($('#format_fasta:checked'))
            {
                $('#seq_options').show();
                $('#csv_options').hide();
            }
        });
		$('#name_options').hide();
		$('#database_name').change(function(){
            if($('#database_name:checked'))
            {
                $('#name_options').hide();
            }
		});
		$('#custom_name').change(function(){
            if($('#custom_name:checked'))
            {
                $('#name_options').show();
            }
		});
    }
    
    $(handle_options);
    </script>
{% endblock %}
{% block content %}
<form action="/results/monomers&blocks" method="POST" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Format Name</div>
        </div>
            <div class="panel-body">
                <div class="form-group">
                    <!--<input type="radio" name="name_format" value="database_name" id="database_name" checked="checked"/> <label for="database_name">database name</label><br />
                    <input type="radio" name="name_format" value="simple_numbering" id="simple_numbering" /> <label for="simple_numbering">simple numbering</label><br />           
                    <input type="radio" name="name_format" value="chr_begin_end_strand" id="chr_begin_end_strand" /> <label for="chr_begin_end_strand">chr_begin_end_strand</label><br />-->
					<input type="radio" name="name_option" value="database_name" id="database_name" checked="checked"/> <label for="database_name">database name</label><br />
					<input type="radio" name="name_option" value="custom_name" id="custom_name" /> <label for="custom_name">custom name</label><br />
					</div><!-- end form -->
					<div id="name_options">
					<input type="checkbox" name="name_format" value="block_name" id="block_name" checked="checked"/> <label for="block_name">block name</label><br />
					<input type="checkbox" name="name_format" value="monomer_id" id="monomer_id" /> <label for="monomer_id">monomer id</label><br />
					<input type="checkbox" name="name_format" value="begin" id="begin" checked="checked"/> <label for="begin">begin</label><br />
					<input type="checkbox" name="name_format" value="end" id="end" checked="checked"/> <label for="end">end</label><br />
					<input type="checkbox" name="name_format" value="strand" id="strand" /> <label for="strand">strand</label><br />
					<input type="checkbox" name="name_format" value="monomer_length" id="monomer_length" /> <label for="monomer_length">monomer length</label><br />
					</div><!-- end option -->
    
            </div><!-- end panel-body -->
        <div class="panel-heading">
            <div class="panel-title">Name separator</div>
        </div><!-- end panel-heading -->
            <div class="panel-body">
                <div class="form-group">
					<input type="radio" name="separator_format" value="_" id="underscore" checked="checked"/> <label for="underscore">underscore</label><br />
					<input type="radio" name="separator_format" value="." id="dot" /> <label for="dot">dot</label><br />
					<input type="radio" name="separator_format" value="-" id="dash" /> <label for="dash">dash</label><br />
					<input type="radio" name="separator_format" value=":" id="colon" /> <label for="colon">colon</label><br />
                </div><!-- end form -->
            </div><!-- end panel-body -->
    </div><!-- end panel -->
    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Output Format</div>
        </div><!-- end panel-heading -->
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="format" value="format_csv" id="format_csv">CSV
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="format" value="format_fasta" id="format_fasta">Sequence
                        </label>
                    </div><!-- end button -->
                    <!--<input type="radio" name="output" value="features" id="features" /> <label for="features">Features</label><br />-->
                    <div id="csv_options">
                        <input type="radio" name="csv" value="tab" id="tab"  /> <label for="tab">tab</label><br />
                        <input type="radio" name="csv" value="space" id="space" /> <label for="space">space</label><br />
                        <input type="radio" name="csv" value="comma" id="comma" checked="checked" /> <label for="comma">comma</label><br />
                    </div><!-- end option -->
                    <div id="seq_options">
                       <input type="radio" name="output" value="fasta" id=".fasta" checked="checked" /> <label for="fasta">.fasta</label><br />
                       <input type="radio" name="output" value="fasta.gzip" id=".fasta.gzip"/> <label for="fasta">.fasta.gzip</label><br />
                    </div><!-- end option -->
            </div><!-- end panel-body -->
    </div><!-- end panel -->
    <input type="hidden" name="list_encode" value= "{{list_encode}}" />
    <input type="hidden" name="retrieve_type" value= "{{retrieve_type}}" />
    <input type="hidden" name="monomer_phase" value= "{{phase}}" />
    <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" />
</form>
{% endblock %}
