{% extends "base.html" %}

{% block title %}Taxon selection{% endblock %}

{% block head %}
  <script type="text/javascript">
	  var chrSelection = undefined;
	  var familySelection = undefined;
	  var sequenceSelection = undefined;
	  var blockSelection = undefined;
	  

	  //~ console.log('Hello!');
	  //~ var y = 2;
	  //~ console.log(y);
    function handle_buttons() {
        $('#taxons_select_all').click(function() {
            $('#Taxons option').prop('selected', true);
            return false;
        });
    }
    
    $(handle_buttons);
    </script>
{% endblock %}

{% block content %}
    <form name = "taxons" action="/taxons/chromosomes" method="POST" id = "taxons_data">
		<div style="margin:20px 0;"></div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
		<div id="cc" class="easyui-layout" style="width:600px;height:400px;">
		<div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>
		<div data-options="region:'south',title:'South Title',split:true" style="height:100px;"></div>
		<div data-options="region:'east',title:'East',split:true" style="width:100px;"></div>
		<div data-options="region:'west',title:'West',split:true" style="width:100px;">
		<div class="demo-info" style="margin-bottom:10px">
			<ul id="tt" name="taxons" class="easyui-tree" data-options="url:'/tree',cascadeCheck:true" checkbox="true" method="get">
			</ul>
		</div>
		</div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
		<div class="demo-info" style="margin-bottom:10px">
			 <table id="dgs" class="easyui-datagrid" title="Sequences" style="width:auto;height:auto" data-options="singleSelect:false,collapsible:true,url:'/datagrid_sequences',method:'get',rownumbers:true,pagination:true,pageSize:10,autoRowHeight:false">
			  <thead>
				<tr>
				<th data-options="field:'sequence_id',width:80">Sequence id</th>
				<th data-options="field:'sequence_name',width:100">Sequence Name</th>
				<th data-options="field:'chromosome_name',width:80,align:'right'">Chromosome name</th>
				<th data-options="field:'sequence_id',width:80,align:'right'">Taxon id</th>
				</tr>
				</thead>
			 </table>
			<script> $('#tt').tree({
				onCheck:function(sequence_node){
					var taxon_tree = this;
					var selection = $(taxon_tree).tree('getChecked');
					var url_list = [];
					for(i in selection){
							sid = selection[i]['id'];
							//spl = sid.split('_');
							//recuperer la derniere table de la selection
							//t = spl[0];
							//if (t == 'sequence'){
							url_list.push(sid);
							//}	
					}
					var url_data = "/datagrid_sequences?selection="+JSON.stringify(url_list);
					console.log(url_data);
					$('#dgs').datagrid({
						url:url_data
					});
					//$('#dg').datagrid('reload');
					//console.log(url);
				}
				
				});</script>
		</div>
		<div class="easyui-panel" style="padding:5px"><!-- cadre -->
		<div class="demo-info" style="margin-bottom:10px">
			 <table id="dgb" class="easyui-datagrid" title="Blocks" style="width:auto;height:auto" data-options="singleSelect:false,collapsible:true,url:'/datagrid_blocks',method:'get',rownumbers:true,pagination:true,pageSize:10,autoRowHeight:false">
			  <thead>
				<tr>
				<th data-options="field:'block_id',width:80">Block id</th>
				<th data-options="field:'block_name',width:100">Block Name</th>
				<th data-options="field:'block_begin',width:80,align:'right'">Block begin</th>
				<th data-options="field:'block_end',width:80,align:'right'">Block end</th>
				</tr>
				</thead>
			 </table>
			<!--<ul id="test" name="test" class="easyui-tree" data-options="url:'/test'" checkbox="true" method="get">
			</ul>-->
			<script> $('#tt').tree({
				onCheck:function(node){
					var taxon_tree = this;
					var selection = $(taxon_tree).tree('getChecked');
					var url_list = [];
					for(i in selection){
							sid = selection[i]['id'];
							spl = sid.split('_');
							//recuperer la derniere table de la selection
							t = spl[0];
							if (t == 'sequence'){
							url_list.push(sid);
							}	
					}
					var url_data = "/datagrid_blocks?table="+JSON.stringify(t)+"?selection="+JSON.stringify(url_list);
					console.log(url_data);
					$('#dgb').datagrid({
						url:url_data
					});
					//$('#dg').datagrid('reload');
					//console.log(url);
				}
				
				});</script>
		</div>		
		
		</div>
		<div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;"></div>
		</div>
		<!--<script language="JavaScript" type="text/JavaScript">document.forms["taxons"].submit()</SCRIPT><!--getElementById("formid")<!--'taxons_data') --><!--document.forms["taxons"].submit();-->
			<!--<ul id="block_tree" name="blocks" class="easyui-tree" data-options="url:'/blocks'" checkbox="true" method="get">
			</ul>-->
		</div>
	</form>
{% endblock %}
