{% extends "base.html" %}
{% block title %}Monomer search{% endblock %}
{% block head %}
    <script type="text/javascript">
    function handle_buttons() {
        $('#chromosome_select_all').click(function() {
            $('#Chromosomes option').prop('selected', true);
            return false;
        });
        $('#family_select_all').click(function() {
            $('#Family option').prop('selected', true);
            return false;
        });
        $('#centromer_select_all').click(function() {
            $('#Centromer option').prop('selected', true);
            return false;
        });
    }
    $(handle_buttons);
    </script>
{% endblock %}

{% block content %}
<script language="javascript">
function Send(){
	if(document.chromosome.operation[0].checked == true){
		alert("coucou")
		document.chromosome.action="/taxons/chromosomes";
		<!--document.chromosomes.submit();-->
	}
	if(document.chromosome.operation[1].checked == true){
		alert("blabla")
		document.chromosome.action="/taxons/filters";
		<!--document.chromosomes.submit();-->
	}
	document.chromosomes.method='post';
	document.chromosomes.target='_self';
	<!--document.chromosomes.action="/taxons/chromosomes";-->
	document.chromosomes.class='form-horizontal';
	document.chromosomes.onsubmit="return Send();";
}
</script>

    <!--<form name="chromosomes" action="/taxons/chromosomes" method="POST" class="form-horizontal">-->
    <form name="chromosome" method="POST" target="_self" class="form-horizontal" onsubmit="return Send();">
    
    
    <!--<form name = "taxons" action="/taxons/chromosomes" method="POST" id = "taxons_data">-->
    <div class="panel panel-primary">
        <div class="panel-heading"><div class="panel-title">Taxon selection by name</div></div>
            <div class="panel-body">
                <div class="form-group">
                <label for="Taxons" class="col-sm-2 control-label">Taxons</label>
                
                    <SELECT NAME="Taxons" id = "Taxons" MULTIPLE SIZE = 5 STYLE="width:120"> <!--onchange = "document.taxons.submit()">-->
                                    {%for i in taxon_name %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                    </SELECT>
                        <button class="btn btn-primary btn-xs" id="taxons_select_all">Select all</button>
                </div>
        </div><!-- end panel-body -->
    </div><!-- end panel -->
    <input type="hidden" name="taxon_dict" value= "{{taxon_dict}}" />
 <!--   <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" />
   </form>-->
	<!--<script language="JavaScript" type="text/JavaScript">document.forms["taxons"].submit()</SCRIPT><!--getElementById("formid")<!--'taxons_data') --><!--document.forms["taxons"].submit();-->


        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Selection by Chromosome properties</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="Chromosomes" class="col-sm-2 control-label">Chromosomes</label>
                    <select name="Chromosomes" id="Chromosomes" multiple size = 10 style="width: 300px" >
						{%for key,item in chromosome|dictsort  %}
                    <option value="{{item|e}}">{{key|e}}</option>
                            {% endfor %}
                    </select>
                    <button class="btn btn-primary btn-xs" id="chromosome_select_all">Select all</button>
                </div>

                <div class="form-group">
                    <label for="phase" class="col-sm-2 control-label">Phase</label>
                    <input type="int" name="phase" id="phase" />
                </div>
               
                <div class="form-group">
                    <label for="base_pair_begin" class="col-sm-2 control-label">Base pair begin</label>
                    <input type="int" name="base_pair_begin" id="base_pair_begin" />
                </div>
           
                <div class="form-group">
                    <label for="base_pair_end" class="col-sm-2 control-label">Base pair end</label>
                    <input type="int" name="base_pair_end" id="base_pair_end" />
                </div>
                    
                <div class="form-group">
                    <label for="distance_from_centromer" class="col-sm-2 control-label">Distance from centromer</label>
                    <input type="int" name="distance_from_centromer" id="distance_from_centromer" />
                </div>
            </div><!-- end panel-body -->
        </div><!-- end panel -->
       
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Selection by family name</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="Family" class="col-sm-2 control-label">Families</label>
                    <select name="Family" id="Family" multiple size = 10 style="width:300" >
                        <!-- {#{%for key, item in family.items() %}#}
                        <option value="{#{{item|e}}">{{key|e}}#}</option>
                            {#{% endfor %}#} --> 
                    </select>
                    <button class="btn btn-primary btn-xs" id="family_select_all">Select all</button>
                </div>
            </div><!-- end panel-body -->
        </div><!-- end panel -->
    
        <div class="panel panel-primary">
            <div class="panel-heading"><div class="panel-title">Selection by block name</div></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="block_name" class="col-sm-2 control-label">Block name</label>
                    <!--<textarea name="block_name" rows="5" cols="50" id= "textarea"></textarea>-->
                    <select name="block_name" id="textarea" multiple size = 10 style="width: 300px" >
						{%for key,item in block_dict|dictsort  %}
                    <option value="{{item|e}}">{{key|e}}</option>
							{% endfor %}
					</select>
					<button class="btn btn-primary btn-xs" id="block_select_all">Select all</button>
					<!--<button class="btn btn-primary btn-lg" type="reset" value="Reset">Reset</button>-->
                </div>
            </div>
        </div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">Selection by length</div>
		</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="block_length" class="col-sm-2 control-label">Block length</label>
			<input type="int" name="block_length" id="bl" />
			eg, 171 or 170:173
		</div>
		<div class="form-group">
			<label for="monomer_length" class="col-sm-2 control-label">Monomer length</label>
			<input type="int" name="monomer_length" id="ml" />
			eg, 171 or 170:173
		</div>
	</div>
</div>
        <input type="hidden" name="list_chromosomes" value= "{{chro_dict}}" />
        <input type="hidden" name="family_name_id" value= "{{family_name_id}}" />
        <input type="hidden" name="chromosome_name_id" value= "{{chromosome_name_id}}" />
        <button class="btn btn-primary btn-lg" type="reset" value="Reset">Reset</button>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" />
        <!--<input class="btn btn-primary btn-lg" type="button" value="finish" name="Finish" />
        <input class="btn btn-primary btn-lg" type="button" value="actualize" name="Actualize" />
        <input type="text" name="essai" value="essai"/>
        <input type="button" name="" value="" Onclick="Send('');"/>-->
        <input type="radio" name="operation" value="1" checked>actualize
		<input type="radio" name="operation" value="2">finish
	</form>
{% endblock %}
